body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../学习页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:74px;
    width:1440px;
    height:1220px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:1226px;
}

.u1 {
    position:absolute;
    left:2px;
    top:602px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../学习页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:260px;
    top:180px;
    width:197px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../学习页面_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:743px;
    top:180px;
    width:197px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../学习页面_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:983px;
    top:180px;
    width:197px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../学习页面_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:260px;
    top:260px;
    width:197px;
    height:45px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../学习页面_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:500px;
    top:260px;
    width:197px;
    height:45px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u11 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../学习页面_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:743px;
    top:260px;
    width:197px;
    height:45px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../学习页面_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:983px;
    top:260px;
    width:197px;
    height:45px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../学习页面_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:500px;
    top:180px;
    width:197px;
    height:45px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u18 {
    position:absolute;
    left:446px;
    top:180px;
    width:129px;
    height:141px;
    overflow:hidden;
}

#pd1u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:141px;
    
}

.u19_normal {
    background-image: url('../学习页面_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:140px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:140px;
}

.u20 {
    position:absolute;
    left:2px;
    top:62px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:141px;
    
}

#u21 {
    position:absolute;
    left:686px;
    top:180px;
    width:129px;
    height:246px;
    overflow:hidden;
}

#pd1u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:246px;
    
}

.u22_normal {
    background-image: url('../学习页面_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:245px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:245px;
}

.u23 {
    position:absolute;
    left:2px;
    top:114px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:246px;
    
}

#u24 {
    position:absolute;
    left:929px;
    top:180px;
    width:129px;
    height:246px;
    overflow:hidden;
}

#pd1u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:246px;
    
}

.u25_normal {
    background-image: url('../学习页面_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:245px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:245px;
}

.u26 {
    position:absolute;
    left:2px;
    top:114px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:246px;
    
}

#u27 {
    position:absolute;
    left:1169px;
    top:180px;
    width:129px;
    height:246px;
    overflow:hidden;
}

#pd1u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:246px;
    
}

.u28_normal {
    background-image: url('../学习页面_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:245px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:245px;
}

.u29 {
    position:absolute;
    left:2px;
    top:114px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:246px;
    
}

#u30 {
    position:absolute;
    left:446px;
    top:260px;
    width:129px;
    height:268px;
    overflow:hidden;
}

#pd1u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:268px;
    
}

.u31_normal {
    background-image: url('../学习页面_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:267px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:267px;
}

.u32 {
    position:absolute;
    left:2px;
    top:126px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:268px;
    
}

#u33 {
    position:absolute;
    left:686px;
    top:260px;
    width:129px;
    height:219px;
    overflow:hidden;
}

#pd1u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:219px;
    
}

.u34_normal {
    background-image: url('../学习页面_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:218px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:218px;
}

.u35 {
    position:absolute;
    left:2px;
    top:101px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:219px;
    
}

#u36 {
    position:absolute;
    left:929px;
    top:260px;
    width:129px;
    height:161px;
    overflow:hidden;
}

#pd1u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:161px;
    
}

.u37_normal {
    background-image: url('../学习页面_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:160px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:160px;
}

.u38 {
    position:absolute;
    left:2px;
    top:72px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:161px;
    
}

#u39 {
    position:absolute;
    left:1169px;
    top:260px;
    width:129px;
    height:161px;
    overflow:hidden;
}

#pd1u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:161px;
    
}

.u40_normal {
    background-image: url('../学习页面_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:160px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:160px;
}

.u41 {
    position:absolute;
    left:2px;
    top:72px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:161px;
    
}

#u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    overflow:hidden;
}

#pd3u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    
}

.u43_normal {
    background-image: url('../头部_蒙版_files/u111_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:1295px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:1301px;
}

.u44 {
    position:absolute;
    left:2px;
    top:640px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../头部_蒙版_files/u113_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:180px;
    width:1440px;
    height:509px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:509px;
}

.u46 {
    position:absolute;
    left:2px;
    top:246px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u47 {
    position:absolute;
    left:876px;
    top:593px;
    width:81px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u48 {
    position:absolute;
    left:923px;
    top:186px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u49 {
    position:absolute;
    left:989px;
    top:186px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u50 {
    position:absolute;
    left:1055px;
    top:186px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u51 {
    position:absolute;
    left:541px;
    top:573px;
    width:58px;
    height:70px;
    overflow:hidden;
}

#pd1u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

.u52_normal {
    background-image: url('../头部_蒙版_files/u120_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:67px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:67px;
}

.u53 {
    position:absolute;
    left:2px;
    top:26px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

.u54_normal {
    background-image: url('../头部_蒙版_files/u122_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

.u55 {
    position:absolute;
    left:2px;
    top:26px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u56 {
    position:absolute;
    left:608px;
    top:573px;
    width:58px;
    height:70px;
    overflow:hidden;
}

#pd1u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

.u57_normal {
    background-image: url('../头部_蒙版_files/u125_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:67px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:67px;
}

.u58 {
    position:absolute;
    left:2px;
    top:26px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

.u59_normal {
    background-image: url('../头部_蒙版_files/u127_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

.u60 {
    position:absolute;
    left:2px;
    top:26px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u61 {
    position:absolute;
    left:675px;
    top:573px;
    width:58px;
    height:70px;
    overflow:hidden;
}

#pd1u61 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

.u62_normal {
    background-image: url('../头部_蒙版_files/u130_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:67px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:67px;
}

.u63 {
    position:absolute;
    left:2px;
    top:26px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u61 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

.u64_normal {
    background-image: url('../头部_蒙版_files/u132_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

.u65 {
    position:absolute;
    left:2px;
    top:26px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u66 {
    position:absolute;
    left:742px;
    top:573px;
    width:58px;
    height:70px;
    overflow:hidden;
}

#pd1u66 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

#pd0u66 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

.u67_normal {
    background-image: url('../头部_蒙版_files/u135_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

.u68 {
    position:absolute;
    left:2px;
    top:26px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u69 {
    position:absolute;
    left:809px;
    top:573px;
    width:58px;
    height:70px;
    overflow:hidden;
}

#pd1u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

#pd0u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:70px;
    
}

.u70_normal {
    background-image: url('../头部_蒙版_files/u138_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:69px;
}

.u71 {
    position:absolute;
    left:2px;
    top:26px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u72 {
    position:absolute;
    left:964px;
    top:520px;
    width:85px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u73 {
    position:absolute;
    left:964px;
    top:544px;
    width:85px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd2u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    
}

.u74_normal {
    background-image: url('../头部_蒙版_files/u111_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:1295px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:1301px;
}

.u75 {
    position:absolute;
    left:2px;
    top:640px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../头部_蒙版_files/u144_normal.png');
}

.u76_container {
    position:absolute;
    left:895px;
    top:170px;
    width:96px;
    height:108px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:108px;
}

.u77 {
    position:absolute;
    left:2px;
    top:46px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../头部_蒙版_files/u146_normal.png');
}

.u78_container {
    position:absolute;
    left:505px;
    top:215px;
    width:430px;
    height:200px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:430px;
    height:200px;
}

.u79 {
    position:absolute;
    left:2px;
    top:92px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../头部_蒙版_files/u148_normal.png');
}

.u80_container {
    position:absolute;
    left:905px;
    top:225px;
    width:20px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:575px;
    top:260px;
    width:282px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:676px;
    top:285px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:645px;
    top:355px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../头部_蒙版_files/u153_normal.png');
}

.u85_container {
    position:absolute;
    left:770px;
    top:309px;
    width:80px;
    height:30px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u86 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../头部_蒙版_files/u153_normal.png');
}

.u87_container {
    position:absolute;
    left:770px;
    top:348px;
    width:80px;
    height:30px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u88 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    
}

.u89_normal {
    background-image: url('../头部_蒙版_files/u111_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:-6px;
    width:1440px;
    height:1295px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:1301px;
}

.u90 {
    position:absolute;
    left:2px;
    top:640px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../头部_蒙版_files/u159_normal.png');
}

.u91_container {
    position:absolute;
    left:370px;
    top:140px;
    width:700px;
    height:350px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:356px;
}

.u92 {
    position:absolute;
    left:2px;
    top:167px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../头部_蒙版_files/u161_normal.png');
}

.u93_container {
    position:absolute;
    left:720px;
    top:154px;
    width:1px;
    height:322px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:322px;
}

.u94 {
    position:absolute;
    left:2px;
    top:153px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../头部_蒙版_files/u163_normal.png');
}

.u95_container {
    position:absolute;
    left:752px;
    top:196px;
    width:75px;
    height:17px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:23px;
}

.u96 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../头部_蒙版_files/u165_normal.png');
}

.u97_container {
    position:absolute;
    left:752px;
    top:242px;
    width:75px;
    height:17px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:23px;
}

.u98 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:837px;
    top:189px;
    width:200px;
    height:30px;
    ;
    background-color:#DFE0E0;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u100 {
    position:absolute;
    left:837px;
    top:235px;
    width:200px;
    height:30px;
    ;
    background-color:#DFE0E0;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101_normal {
    background-image: url('../头部_蒙版_files/u169_normal.png');
}

.u101_container {
    position:absolute;
    left:957px;
    top:300px;
    width:80px;
    height:30px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u102 {
    position:absolute;
    left:2px;
    top:5px;
    width:76px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../头部_蒙版_files/u171_normal.png');
}

.u103_container {
    position:absolute;
    left:844px;
    top:356px;
    width:118px;
    height:18px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:24px;
}

.u104 {
    position:absolute;
    left:2px;
    top:-2px;
    width:114px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../头部_蒙版_files/u173_normal.png');
}

.u105_container {
    position:absolute;
    left:962px;
    top:356px;
    width:75px;
    height:18px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:24px;
}

.u106 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../头部_蒙版_files/u175_normal.png');
}

.u107_container {
    position:absolute;
    left:1032px;
    top:95px;
    width:96px;
    height:108px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:108px;
}

.u108 {
    position:absolute;
    left:2px;
    top:46px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../头部_蒙版_files/u177_normal.png');
}

.u109_container {
    position:absolute;
    left:761px;
    top:408px;
    width:57px;
    height:30px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:36px;
}

.u110 {
    position:absolute;
    left:2px;
    top:-4px;
    width:53px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../头部_蒙版_files/u179_normal.png');
}

.u111_container {
    position:absolute;
    left:837px;
    top:408px;
    width:30px;
    height:30px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u112 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../头部_蒙版_files/u181_normal.png');
}

.u113_container {
    position:absolute;
    left:887px;
    top:408px;
    width:30px;
    height:30px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u114 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../头部_蒙版_files/u183_normal.png');
}

.u115_container {
    position:absolute;
    left:937px;
    top:408px;
    width:30px;
    height:30px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u116 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../头部_蒙版_files/u185_normal.png');
}

.u117_container {
    position:absolute;
    left:987px;
    top:408px;
    width:30px;
    height:30px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u118 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../头部_蒙版_files/u187_normal.png');
}

.u119_container {
    position:absolute;
    left:420px;
    top:195px;
    width:250px;
    height:240px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:240px;
}

.u120 {
    position:absolute;
    left:2px;
    top:112px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../头部_蒙版_files/u189_normal.png');
}

.u121_container {
    position:absolute;
    left:1041px;
    top:148px;
    width:20px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    
}

.u123_normal {
    background-image: url('../头部_蒙版_files/u111_normal.png');
}

.u123_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:1295px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:1301px;
}

.u124 {
    position:absolute;
    left:2px;
    top:640px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../头部_蒙版_files/u175_normal.png');
}

.u125_container {
    position:absolute;
    left:1032px;
    top:95px;
    width:96px;
    height:108px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:108px;
}

.u126 {
    position:absolute;
    left:2px;
    top:46px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../头部_蒙版_files/u159_normal.png');
}

.u127_container {
    position:absolute;
    left:370px;
    top:140px;
    width:700px;
    height:350px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:356px;
}

.u128 {
    position:absolute;
    left:2px;
    top:167px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../头部_蒙版_files/u169_normal.png');
}

.u129_container {
    position:absolute;
    left:957px;
    top:300px;
    width:80px;
    height:30px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u130 {
    position:absolute;
    left:2px;
    top:5px;
    width:76px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../头部_蒙版_files/u177_normal.png');
}

.u131_container {
    position:absolute;
    left:761px;
    top:408px;
    width:57px;
    height:30px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:36px;
}

.u132 {
    position:absolute;
    left:2px;
    top:-4px;
    width:53px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../头部_蒙版_files/u171_normal.png');
}

.u133_container {
    position:absolute;
    left:844px;
    top:356px;
    width:118px;
    height:18px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:24px;
}

.u134 {
    position:absolute;
    left:2px;
    top:-2px;
    width:114px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../头部_蒙版_files/u173_normal.png');
}

.u135_container {
    position:absolute;
    left:962px;
    top:356px;
    width:75px;
    height:18px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:24px;
}

.u136 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../头部_蒙版_files/u161_normal.png');
}

.u137_container {
    position:absolute;
    left:720px;
    top:154px;
    width:1px;
    height:322px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:322px;
}

.u138 {
    position:absolute;
    left:2px;
    top:153px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../头部_蒙版_files/u165_normal.png');
}

.u139_container {
    position:absolute;
    left:752px;
    top:242px;
    width:75px;
    height:17px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:23px;
}

.u140 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../头部_蒙版_files/u163_normal.png');
}

.u141_container {
    position:absolute;
    left:752px;
    top:196px;
    width:75px;
    height:17px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:23px;
}

.u142 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:837px;
    top:189px;
    width:200px;
    height:30px;
    ;
    background-color:#DFE0E0;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u144 {
    position:absolute;
    left:837px;
    top:235px;
    width:200px;
    height:30px;
    ;
    background-color:#DFE0E0;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u145_normal {
    background-image: url('../头部_蒙版_files/u179_normal.png');
}

.u145_container {
    position:absolute;
    left:837px;
    top:408px;
    width:30px;
    height:30px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u146 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../头部_蒙版_files/u181_normal.png');
}

.u147_container {
    position:absolute;
    left:887px;
    top:408px;
    width:30px;
    height:30px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u148 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../头部_蒙版_files/u183_normal.png');
}

.u149_container {
    position:absolute;
    left:937px;
    top:408px;
    width:30px;
    height:30px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u150 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../头部_蒙版_files/u185_normal.png');
}

.u151_container {
    position:absolute;
    left:987px;
    top:408px;
    width:30px;
    height:30px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u152 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../头部_蒙版_files/u187_normal.png');
}

.u153_container {
    position:absolute;
    left:420px;
    top:195px;
    width:250px;
    height:240px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:240px;
}

.u154 {
    position:absolute;
    left:2px;
    top:112px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../头部_蒙版_files/u189_normal.png');
}

.u155_container {
    position:absolute;
    left:1041px;
    top:148px;
    width:20px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../头部_蒙版_files/u225_normal.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:75px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:75px;
}

.u158 {
    position:absolute;
    left:2px;
    top:30px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../头部_蒙版_files/u227_normal.png');
}

.u159_container {
    position:absolute;
    left:505px;
    top:75px;
    width:100px;
    height:30px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u160 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u161 {
    position:absolute;
    left:615px;
    top:75px;
    width:101px;
    height:101px;
    overflow:hidden;
}

#pd1u161 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

.u162_normal {
    background-image: url('../头部_蒙版_files/u230_normal.png');
}

.u162_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u163 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:0px;
    top:30px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:0px;
    top:50px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:0px;
    top:70px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u161 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

#u167 {
    position:absolute;
    left:725px;
    top:75px;
    width:101px;
    height:101px;
    overflow:hidden;
}

#pd1u167 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

.u168_normal {
    background-image: url('../头部_蒙版_files/u230_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u169 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:0px;
    top:30px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:0px;
    top:50px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:0px;
    top:70px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u167 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

.u173_normal {
    background-image: url('../头部_蒙版_files/u227_normal.png');
}

.u173_container {
    position:absolute;
    left:615px;
    top:75px;
    width:100px;
    height:30px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u174 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../头部_蒙版_files/u227_normal.png');
}

.u175_container {
    position:absolute;
    left:725px;
    top:75px;
    width:100px;
    height:30px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u176 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../头部_蒙版_files/u227_normal.png');
}

.u177_container {
    position:absolute;
    left:835px;
    top:75px;
    width:100px;
    height:30px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u178 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../头部_蒙版_files/u247_normal.png');
}

.u179_container {
    position:absolute;
    left:505px;
    top:22px;
    width:430px;
    height:32px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:430px;
    height:32px;
}

.u180 {
    position:absolute;
    left:2px;
    top:8px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../头部_蒙版_files/u249_normal.png');
}

.u181_container {
    position:absolute;
    left:904px;
    top:28px;
    width:21px;
    height:21px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u183 {
    position:absolute;
    left:214px;
    top:0px;
    width:130px;
    height:75px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u184 {
    position:absolute;
    left:1055px;
    top:22px;
    width:61px;
    height:33px;
    overflow:hidden;
}

#pd0u184 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:33px;
    
}

.u185_normal {
    background-image: url('../头部_蒙版_files/u253_normal.png');
}

.u185_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:32px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:38px;
}

.u186 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u187 {
    position:absolute;
    left:1125px;
    top:22px;
    width:61px;
    height:33px;
    overflow:hidden;
}

#pd0u187 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:33px;
    
}

.u188_normal {
    background-image: url('../头部_蒙版_files/u253_normal.png');
}

.u188_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:32px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:38px;
}

.u189 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u190 {
    position:absolute;
    left:519px;
    top:28px;
    width:376px;
    height:21px;
    overflow:hidden;
}

#pd1u190 {
    position:absolute;
    left:0px;
    top:0px;
    width:376px;
    height:21px;
    
}

.u191 {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u190 {
    position:absolute;
    left:0px;
    top:0px;
    width:376px;
    height:21px;
    
}

.u192 {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u193 {
    position:fixed;
    left: 50%;
    margin-left: -491px;
    bottom:0px;
    width:983px;
    height:181px;
    overflow:hidden;
}

#pd1u193 {
    position:absolute;
    left:0px;
    top:0px;
    width:983px;
    height:181px;
    
}

.u194_normal {
    background-image: url('../头部_蒙版_files/u262_normal.png');
}

.u194_container {
    position:absolute;
    left:16px;
    top:0px;
    width:950px;
    height:180px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:186px;
}

.u195 {
    position:absolute;
    left:2px;
    top:82px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../头部_蒙版_files/u264_normal.png');
}

.u196_container {
    position:absolute;
    left:86px;
    top:45px;
    width:197px;
    height:45px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u197 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../头部_蒙版_files/u266_normal.png');
}

.u198_container {
    position:absolute;
    left:500px;
    top:45px;
    width:197px;
    height:45px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u199 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../头部_蒙版_files/u268_normal.png');
}

.u200_container {
    position:absolute;
    left:707px;
    top:45px;
    width:197px;
    height:45px;
}

#u200_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u201 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../头部_蒙版_files/u270_normal.png');
}

.u202_container {
    position:absolute;
    left:86px;
    top:115px;
    width:197px;
    height:45px;
}

#u202_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u203 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../头部_蒙版_files/u272_normal.png');
}

.u204_container {
    position:absolute;
    left:293px;
    top:115px;
    width:197px;
    height:45px;
}

#u204_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u205 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../头部_蒙版_files/u274_normal.png');
}

.u206_container {
    position:absolute;
    left:500px;
    top:115px;
    width:197px;
    height:45px;
}

#u206_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u207 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../头部_蒙版_files/u276_normal.png');
}

.u208_container {
    position:absolute;
    left:707px;
    top:115px;
    width:197px;
    height:45px;
}

#u208_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u209 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../头部_蒙版_files/u278_normal.png');
}

.u210_container {
    position:absolute;
    left:293px;
    top:45px;
    width:197px;
    height:45px;
}

#u210_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:45px;
}

.u211 {
    position:absolute;
    left:2px;
    top:14px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:374px;
    top:15px;
    width:234px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213_normal {
    background-image: url('../头部_蒙版_files/u148_normal.png');
}

.u213_container {
    position:absolute;
    left:936px;
    top:8px;
    width:20px;
    height:20px;
}

#u213_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u214 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u193 {
    position:absolute;
    left:0px;
    top:0px;
    width:983px;
    height:181px;
    
}

.u215_normal {
    background-image: url('../头部_蒙版_files/u283_normal.png');
}

.u215_container {
    position:absolute;
    left:260px;
    top:60px;
    width:690px;
    height:120px;
}

#u215_img {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:120px;
}

.u216 {
    position:absolute;
    left:2px;
    top:52px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_normal {
    background-image: url('../头部_蒙版_files/u285_normal.png');
}

.u217_container {
    position:absolute;
    left:950px;
    top:28px;
    width:30px;
    height:93px;
}

#u217_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:93px;
}

.u218 {
    position:absolute;
    left:2px;
    top:38px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219_normal {
    background-image: url('../头部_蒙版_files/u287_normal.png');
}

.u219_container {
    position:absolute;
    left:950px;
    top:120px;
    width:30px;
    height:60px;
}

#u219_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:60px;
}

.u220 {
    position:absolute;
    left:2px;
    top:22px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_mouseOver {
    background-image: url('../头部_蒙版_files/u289_mouseOver.png');
}

.u221_normal {
    background-image: url('../头部_蒙版_files/u289_normal.png');
}

.u221_container {
    position:absolute;
    left:925px;
    top:35px;
    width:22px;
    height:22px;
}

#u221_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:22px;
}

.u222 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u223 {
    position:absolute;
    left:288px;
    top:85px;
    width:193px;
    height:71px;
    overflow:hidden;
}

#pd1u223 {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:71px;
    
}

.u224_normal {
    background-image: url('../头部_蒙版_files/u292_normal.png');
}

.u224_container {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:70px;
}

#u224_img {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:70px;
}

.u225 {
    position:absolute;
    left:2px;
    top:27px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u223 {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:71px;
    
}

.u226_normal {
    background-image: url('../头部_蒙版_files/u294_normal.png');
}

.u226_container {
    position:absolute;
    left:23px;
    top:17px;
    width:148px;
    height:36px;
}

#u226_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:36px;
}

.u227 {
    position:absolute;
    left:2px;
    top:10px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u228 {
    position:absolute;
    left:505px;
    top:85px;
    width:193px;
    height:71px;
    overflow:hidden;
}

#pd1u228 {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:71px;
    
}

.u229_normal {
    background-image: url('../头部_蒙版_files/u297_normal.png');
}

.u229_container {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:70px;
}

#u229_img {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:70px;
}

.u230 {
    position:absolute;
    left:2px;
    top:27px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u228 {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:71px;
    
}

.u231_normal {
    background-image: url('../头部_蒙版_files/u299_normal.png');
}

.u231_container {
    position:absolute;
    left:23px;
    top:17px;
    width:148px;
    height:36px;
}

#u231_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:36px;
}

.u232 {
    position:absolute;
    left:2px;
    top:10px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u233 {
    position:absolute;
    left:730px;
    top:85px;
    width:193px;
    height:71px;
    overflow:hidden;
}

#pd1u233 {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:71px;
    
}

.u234_normal {
    background-image: url('../头部_蒙版_files/u302_normal.png');
}

.u234_container {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:70px;
}

#u234_img {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:70px;
}

.u235 {
    position:absolute;
    left:2px;
    top:27px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u233 {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:71px;
    
}

.u236_normal {
    background-image: url('../头部_蒙版_files/u304_normal.png');
}

.u236_container {
    position:absolute;
    left:23px;
    top:17px;
    width:148px;
    height:36px;
}

#u236_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:36px;
}

.u237 {
    position:absolute;
    left:2px;
    top:10px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u238 {
    position:absolute;
    left:1025px;
    top:25px;
    width:161px;
    height:27px;
    overflow:hidden;
}

#pd0u238 {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:27px;
    
}

.u239_normal {
    background-image: url('../头部_蒙版_files/u307_normal.png');
}

.u239_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:26px;
}

#u239_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:26px;
}

.u240 {
    position:absolute;
    left:2px;
    top:5px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u241 {
    position:absolute;
    left:1032px;
    top:51px;
    width:148px;
    height:155px;
    overflow:hidden;
}

#pd1u241 {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:155px;
    
}

.u242_normal {
    background-image: url('../头部_蒙版_files/u310_normal.png');
}

.u242_container {
    position:absolute;
    left:0px;
    top:0px;
    width:147px;
    height:154px;
}

#u242_img {
    position:absolute;
    left:0px;
    top:0px;
    width:147px;
    height:154px;
}

.u243 {
    position:absolute;
    left:2px;
    top:69px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u244 {
    position:absolute;
    left:52px;
    top:126px;
    width:42px;
    height:20px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u241 {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:155px;
    
}

